/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1300
#define ZMK_POINTING_DEFAULT_SCRL_VAL 18

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt { flavor = "balanced"; };

&caps_word {
    mods = <(MOD_LSFT)>;
    continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>;
};

/ {
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <37 29>;
        };
    };

    macros {
        prmc: parentheses {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;
            label = "PARENTHESES";
        };

        bkmc: pbk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
            label = "PBK";
        };

        bcmc: bcmc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "BCMC";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Colemak {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Colemak";
            bindings = <
&kp ESCAPE     &mt EXCLAMATION Q  &mt AT_SIGN W   &mt HASH F         &mt DOLLAR P  &mt PERCENT B    &mt CARET J  &mt AMPERSAND L     &mt ASTERISK U           &mt LEFT_PARENTHESIS Y  &mt RIGHT_PARENTHESIS SEMICOLON  &kp EQUAL
&kp BACKSPACE  &mt LEFT_GUI A     &mt LEFT_ALT R  &mt LEFT_SHIFT S   &mt LCTRL T   &mt LC(T) G      &mt LC(N) M  &mt RCTRL N         &mt RIGHT_SHIFT E        &mt RIGHT_ALT I         &mt RIGHT_GUI O                  &kp SQT
&kp MINUS      &mt LC(Z) Z        &mt LC(X) X     &mt LC(C) C        &mt LC(V) D   &kp V            &kp K        &mt LEFT_BRACKET H  &mt RIGHT_BRACKET COMMA  &mt LEFT_BRACE PERIOD   &mt RIGHT_BRACE SLASH            &kp NON_US_BACKSLASH
                                                  &lt 3 PRINTSCREEN  &lt 1 DELETE  &lt 2 TAB        &kp ENTER    &kp SPACE           &caps_word
            >;

            label = "Colemak";
        };

        NavFunc {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "NavFunc";
            bindings = <
&trans  &none         &kp C_MUTE    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none     &kp PAGE_UP    &kp HOME  &kp UP_ARROW  &kp END    &kp INSERT  &to 0
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_SHIFT     &kp LCTRL        &none     &kp PAGE_DOWN  &kp LEFT  &kp DOWN      &kp RIGHT  &kp ENTER   &to 0
&none   &none         &kp C_PLAY    &kp C_PREVIOUS     &kp C_NEXT       &none     &none          &none     &none         &none      &none       &none
                                    &trans             &trans           &trans    &trans         &trans    &none
            >;

            label = "NavFunc";
        };

        Numpad {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Numpad";
            bindings = <
&trans  &kp F1           &kp F2           &kp F3             &kp F4        &kp F5     &kp MINUS  &kp NUMBER_7         &kp NUMBER_8        &kp NUMBER_9            &kp PLUS             &kp BSPC
&trans  &mt LEFT_GUI F6  &mt LEFT_ALT F7  &mt LEFT_SHIFT F8  &mt LCTRL F9  &kp F10    &kp ASTRK  &mt RCTRL NUMBER_4   &mt RIGHT_SHIFT N5  &mt RIGHT_ALT NUMBER_6  &mt RIGHT_WIN ENTER  &kp COLON
&none   &kp HOME         &kp END          &kp INS            &kp F11       &kp F12    &kp SLASH  &mt PERIOD NUMBER_1  &mt COMMA NUMBER_2  &kp NUMBER_3            &kp TAB              &none
                                          &trans             &trans        &trans     &trans     &trans               &kp NUMBER_0
            >;

            label = "Numpad";
        };

        MouseBT {
            display-name = "MouseBT";
            bindings = <
&none   &none         &none         &none           &none         &none           &msc SCRL_LEFT   &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &none      &none
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL     &bt BT_CLR      &msc SCRL_RIGHT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp ENTER  &none
&none   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4    &none            &mkp MB4        &mkp MB5        &mkp MB3         &none      &none
                                    &trans          &trans        &trans          &mkp MB1         &mkp MB2        &none
            >;

            label = "MouseBT";
        };
    };
};
